/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fbe9e7; /* Fondo naranja claro */
    color: #333; /* Color de texto principal */
}

header {
    background-color: #e64a19; /* Naranja oscuro para el encabezado */
    color: white;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /* Añadido para posicionar la imagen de encabezado */
}

.header-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1; /* Para colocar la imagen detrás del contenido */
}

nav {
    flex: 1; /* Para que el menú ocupe el espacio restante */
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end; /* Alinear a la derecha */
}

nav ul li {
    margin-left: 1rem;
}

nav ul li:first-child {
    margin-left: 0; /* Eliminar margen izquierdo al primer elemento */
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #bf360c; /* Naranja más oscuro al pasar el ratón */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #fff; /* Fondo blanco para el contenedor principal */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#menu, #pedido {
    margin-bottom: 2rem;
}

.menu-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.menu-item {
    background-color: #ffe0b2; /* Naranja claro para los ítems */
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.menu-item img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.menu-item h3 {
    margin-top: 0;
    color: #e64a19; /* Naranja oscuro para el título del ítem */
}

.menu-item p {
    margin-bottom: 0.5rem;
    color: #666;
}

#carrito {
    list-style-type: none;
    padding: 0;
}

#carrito li {
    margin-bottom: 0.5rem;
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.5rem;
}

#total {
    margin-top: 1rem;
    text-align: right;
}

#btn-realizar-pedido {
    background-color: #e64a19; /* Naranja oscuro para el botón */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#btn-realizar-pedido:hover {
    background-color: #bf360c; /* Naranja más oscuro al pasar el ratón */
}

footer {
    background-color: #e64a19; /* Naranja oscuro para el pie de página */
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
